body{
	font-family: "Helvetica", Arial;
	font-size: 16px;
	line-height: 24px;
	font-weight: lighter;
	padding-top: 20px;
}
h1,h2,h3,h4,h5,h6{
	text-align: center;
	font-weight: lighter;
}
h1{
	padding-bottom: 20px;
}
.container{
	max-width: 800px;
	/* max-width: 1000px; */
	margin: auto;
}
input#message{
	width: 100%;
	text-align: center;
	max-width: 800px;
	display: block;
	margin: auto;
}
p{
	padding-bottom: 24px;
}
input{
	font-size: inherit;
	padding: 10px 20px;
	border-radius: 50px;
	border:  1px solid #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: border-color 0.2s linear;
}
input:focus{
	border-color: #4A90E2;
	outline: none;
}
code{
	display: inline-block;
	background: #f6f6f6;
	border: 1px solid #eee;
	padding: 0px 5px;
	line-height: 20px;
}
p{
	text-align: justify;
	margin: auto;
}
.note{
	color: #999;
	font-size: 12px;
}
.bytes{
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
	font-weight: light;
}
.mono{
	font-family: 'Roboto Mono', monospace;
	font-weight: light;
}
.center{
	text-align: center;
}
.important{
	font-size: 24px;
	padding: 20px;
}
.important .x16{
	display: block;
	max-width: 720px;
}
.block{
	display: block;
	padding: 5px;
}
.pad{
	color: #aaa;
}
.len{
	color: #D0021B;
}
a{
	color: #4A90E2;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: #4A90E2;
	text-decoration: underline;
}
.noselect{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.column{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.arrow-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #aaa;
}

.arrow-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #aaa;
}
